.search-container {
  height: 3.5rem;
  border: rgba(220, 220, 220, 0.486);
  align-self: center;
}

.bgray {
  border: rgba(220, 220, 220, 0.486)
}

.searchBtn {
  background: none;
}

.searchBtn__large {
  width: 8rem;
  background: #EB5757;
  border: none;
}

.searchBtn__large span,
.searchBtn__large p {
  color: white;
}
