.block {
  display: block
}

.search-container {
  height: 3.5rem;
  border: rgba(220, 220, 220, 0.486);
  align-self: center;
}

.bgray {
  border: rgba(220, 220, 220, 0.486)
}

.searchBtn {
  background: none;
}

.primcolor {
  color:#EB5757;
}

.bnone {
  border: none
}

.pointer {
  cursor: pointer;
}